body {
  margin: 0;
  font-size: 20px; }

.choice {
  display: flex;
  justify-content: center;
  padding-top: 2.5em;
  font-family: helvetica; }
  .choice .element.ou {
    width: 25%; }
  .choice .element.desti {
    width: 25%; }
    .choice .element.desti #time {
      width: 5.5em; }
  .choice .element {
    border: lightgrey solid 0.05em;
    max-height: 4.25em; }
    .choice .element input {
      padding: 14px;
      outline: none; }
    .choice .element .input, .choice .element .subtitle {
      border: none;
      color: grey;
      font-size: 0.9em; }
    .choice .element .subtitle {
      padding-top: 0.5em;
      padding-left: 1em;
      max-width: 5.5em;
      margin: 0; }

.element.traveler {
  display: flex;
  justify-content: center;
  align-items: center; }

.selectTraveler {
  display: inline-block; }
  .selectTraveler select {
    padding: 14px;
    border: none;
    background-color: white;
    font-family: helvetica;
    color: grey;
    font-size: 0.9em; }

.searchBtn {
  display: inline-block; }
  .searchBtn button {
    background-color: #ff5a5f;
    padding: 14px;
    color: white;
    border-radius: 0.25em;
    font-family: helvetica;
    font-size: 0.9em;
    margin-right: 0.75em;
    border: none; }

h3 {
  padding-left: 12.8em;
  color: grey;
  font-family: helvetica;
  font-size: 0.9em; }

.experiences, .logements, .destination, .solidaire, .art {
  display: flex;
  justify-content: center;
  margin-bottom: 4em; }
  .experiences .position, .logements .position, .destination .position, .solidaire .position, .art .position {
    display: flex;
    flex-direction: column; }
  .experiences img, .logements img, .destination img, .solidaire img, .art img {
    margin: 0.5em; }
  .experiences .test, .logements .test, .destination .test, .solidaire .test, .art .test {
    margin: 0.5em;
    height: 100%;
    width: 23vw;
    height: 47vh;
    background-image: url(http://placehold.it/250x370); }
  .experiences span, .logements span, .destination span, .solidaire span, .art span {
    color: grey;
    font-size: 0.8em;
    padding-left: 0.6em; }

footer {
  border-top: lightgrey solid 0.01em; }

.footerTop {
  display: flex;
  justify-content: space-around; }

.language, .airbnb, .discover, .sleeping {
  display: flex;
  flex-direction: column;
  font-family: helvetica;
  color: grey; }
  .language h5, .airbnb h5, .discover h5, .sleeping h5 {
    font-size: 0.8em; }
  .language span, .airbnb span, .discover span, .sleeping span {
    font-size: 0.6em;
    padding: 0.2em; }
  .language select, .airbnb select, .discover select, .sleeping select {
    padding-top: 1em;
    padding-bottom: 0.7em;
    padding-right: 2.5em;
    padding-left: 2.5em; }

header {
  background-image: url(http://placehold.it/1500x500);
  max-width: 100%;
  height: 27em; }
  header .menu {
    display: block;
    float: right;
    padding-top: 1em; }
    header .menu a {
      margin: 0.75em;
      padding: 1em;
      font-size: 0.7em;
      font-family: helvetica;
      color: white;
      text-decoration: none; }
  header .image {
    margin: 0; }
    header .image img {
      border: pink solid 0.25em;
      float: left; }

/*# sourceMappingURL=style.css.map */
