footer {
	border-top: lightgrey solid 0.01em;
}
.footerTop {
	display: flex;
	justify-content: space-around;

}
.language, .airbnb, .discover, .sleeping {
	display: flex;
	flex-direction: column;
	font-family: $font;
	color: $inputTitleColor;

	
	h5 {
		font-size: 0.8em;
	}

	span {
		font-size: 0.6em; 
		padding: 0.2em;
	}

	select {
		padding-top: 1em;
		padding-bottom: 0.7em;
		padding-right: 2.5em;
		padding-left: 2.5em;
	}
}



