h3 {
	padding-left: 12.8em;
	color: $inputTitleColor;
	font-family: $font;
	font-size: 0.9em;

}

.experiences, .logements, .destination, .solidaire, .art{
	display: flex;
	justify-content: center;
	margin-bottom: 4em;

	.position {
		display: flex;
		flex-direction: column;
	}

	img {
		margin: 0.5em;
	}


	span {
		color: $inputTitleColor;
		font-size: 0.8em;
		padding-left: 0.6em;
	}
}


