h3 {
	padding-left: 12.8em;
	color: $inputTitleColor;
	font-family: $font;
	font-size: 0.9em;

}

.experiences, .logements, .destination, .solidaire, .art{
	display: flex;
	justify-content: center;
	margin-bottom: 4em;
	width: 110vw;

	.position {
		display: flex;
		flex-direction: column;
	}

	img {
		margin: 0.5em;
	}


	span {
		color: $inputTitleColor;
		font-size: 0.8em;
		padding-left: 0.6em;
	}
}

.experiences .position {
	h4 {
		text-align: center;
		color:$colorButton;
		font-size: 2em;
	}
	.img {
		margin: 0.5em;
		width: 25vw;
		height: 47vh;
		background-image: url(http://placehold.it/250x370);
	}
}

