.choice {
	display: flex;
	justify-content: center;
	padding-top: 2.5em;
	font-family: $font;

	.element.ou {
		width: 25%;
	}

	.element.desti {
		width: 25%;

		#time {
			width: 5.5em;
		}
	}


	.element {
		border: lightgrey solid 0.05em;
		max-height: 4.25em;

		input {
			padding: $paddingSearchBarContent;
			outline: none;
		}

		.input, .subtitle,  {
			border: none;
			color: $inputTitleColor;
			font-size: 0.9em;
		}	

		.subtitle {
			padding-top: 0.5em;
			padding-left: 1em;
			max-width: 5.5em;
			margin: 0;
		}
	}
}

.element.traveler {
	display: flex;
	justify-content: center;
	align-items: center;
}

.selectTraveler{
	display: inline-block;

	select {
		padding: $paddingSearchBarContent;
		border: none;
		background-color: white;
		font-family: $font;
		color: $inputTitleColor;
		font-size: 0.9em;	
	} 
}

.searchBtn {
	display: inline-block;

	button {
		background-color: $colorButton;
		padding: $paddingSearchBarContent;
		color: $linkColor;
		border-radius: 0.25em;
		font-family: $font;
		font-size: 0.9em;
		margin-right: 0.75em;
		border: none;
	}
}