@import 'variables';
@import 'globales';
@import 'navbar';
@import 'imagesbar';
@import 'footer';


header {
	background-image:$image;
	width: 110vw;
	height: 27em;

	.menu {
		display: block;			
		float: right;
		padding-top: 1em;

		a {
			margin: 0.75em;
			padding: 1em;
			font-size: 0.7em;
			font-family: $font;
			color: $linkColor;
			text-decoration: none;
		}
	}


	.image {
		margin: 0;

		img {
			border: pink solid 0.25em;
			float: left;
		}
	}
}

